@Html.Partial("./Partials/Navbar")
<div id="wrapper">
    <h1>@ViewBag.lib.Title</h1>
    <p class="result">@ViewBag.lib.Story1@ViewBag.lib.Story2@ViewBag.lib.Story3@ViewBag.lib.Story4@ViewBag.lib.Story5@ViewBag.lib.Story6@ViewBag.lib.Story7@ViewBag.lib.Story8</p>
</div>